<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">Welcome
    <%= current_user.email %></h1>
  <div class="mb-4">
    <%= button_to "Sign Out",
    destroy_user_session_path,
    method: :delete,
    class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
</div>
