<div class="">
  <h1 class="">Welcome
    <%= current_user.email %></h1>
  <div class="">
    <%= button_to "Sign Out",
    destroy_user_session_path,
    method: :delete,
    class: "" %>
  </div>
</div>
